{%- from "oxidized/map.jinja" import oxidized with context -%}
{%- set oxidized = oxidized.general -%}
[Unit]
Description=Oxidized - Network Device Configuration Backup Tool

[Service]
Type=simple
Environment=OXIDIZED_HOME={{ oxidized.home }}
ExecStart=/bin/bash -l -c 'exec $@' {{ oxidized.home }}/.rvm/gems/ruby-2.6.3/bin/oxidized
User={{ oxidized.user }}

[Install]
WantedBy=multi-user.target
